<div>
  user : {{ user$ | async | json }}
  <br>userId : {{ userId$ | async }}
</div>
<div *ngIf="user$ | async as user; else anonymous">
  <app-place-list 
    [places]="places$ | async" 
    [userChoices]="userChoices$ | async" 
    [votes]="votes$ | async"
    (choose)="addUserchoice($event)" 
    [userId]="user.id"
    [pseudo]="user.pseudo"></app-place-list>
</div>
<div>
  *** {{votes$ | async | json }}  ***
</div>

<ng-template #anonymous>
  Afin de voir les restaurants déjà suggérés,
  <b>merci de vous identifier</b>
</ng-template>
